:root {
--doc-height: 100%;
}

html,
body {
padding: 0;
margin: 0;
height: 100vh; /* fallback for Js load */
height: var(--doc-height);
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

#btn-settings {
    margin-left: auto;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1001;
}

#modal-window {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    min-width: 80%;
    min-height: 50%;
    padding: 10px 5px;
    transform: translate(-50%, -50%);
    border: solid 1px lightgray;
}

#modal-dismiss {
    flex: 1;
    float: right;
    cursor: pointer;
    background-color: burlywood;
    padding: 5px;
    border: solid 1px lightgray;
    margin-left: 2.5px;
    cursor: pointer;

}

#modal-ok {
    flex: 1;
    text-align: center;
    background-color: lightblue;
    padding: 5px;
    border: solid 1px lightgray;
    margin-right: 2px;
    cursor: pointer;
}

#modal-control {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    text-align: center;
    font-size: larger;
}

#section-graph {
    flex: 1 0 20%;
    background-color: green;
    border-radius: 5px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 0;
}

#section-metrics {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 5px;
    margin-top: 0;
}

#metric1 {
    border: solid 1px black;
    position: relative;
    flex: 1;
    background-color: yellow;
    margin: 0 2.5px 0 0;
    border-radius: 10px;
}

#metric2 {
    border: solid 1px black;
    position: relative;
    flex: 1;
    background-color: brown;
    margin: 0 0 0 2.5px;
    border-radius: 10px;
}


.metric-value {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

button {
    font-size: larger;
}

.value {
    font-size: xxx-large;
}

.eenheid {
    display: block;
    text-align: right;
    margin-top: -5px;
    font-size: small;
}

label {
    font-weight: bold;
    font-size: smaller;
}

input {
    display: block;
    width: 95%;
}

#canvas-chart {
    height: 100%;
    width: 100%;
}

#connection-status {
    font-size: larger;
    color: darkgray;
}      